---

import Layout from "../../layouts/Layout.astro";

---

<Layout
    title="Get Started!"
    description="This feature is under development.">
    <center>
        <h1>coming soon..</h1>
    </center>
</Layout>