---

import Layout from "./Layout.astro";

import type { Project } from '../types';

interface Props {
	content: Project;
}
const { content } = Astro.props;

---

<Layout
    title={content.title}
    description={content.description}>
    <main>

    </main>
</Layout>